@media print, (max-width: 767px) {

    :root {
        --font_size_title: 32px;
        --font_size: 15px;
    }
    .block {
        padding: 30px 0;
    }
 
    .header-contact a span {
        display: none;
    }
    .header-contact .phone img, 
    .header-contact .email img {
        margin-right: 0px;
    }
    .header_logo img {
        width: 200px;
    }
    .header-top {
        margin-bottom: 50px;
    }
    .header-contact {
        flex-direction: row;
    }
    .header-contact .email {
        margin-bottom: 0px;
    }
    .header-info_title {
        font-size: 30px;
    }
    .header-info_text {
        font-size: 18px;
    }
    .services_item-title {
        font-size: 18px;
        line-height: 25px;
        margin-top: 12px;
    }
    .steps_item-text br {
        display: none;
    }
    .services_item-text {
        font-size: var(--font_size);
        margin-top: 13px;
    }
    .services_items > * {
        width: calc(100%/2 - 30px);
    }
    .title::before {
        bottom: 4px;
    }
    .title {
        margin-bottom: 30px;
    }
    .steps_item-text {
        font-size: 16px;
    }
    .advantages_items {
        flex-direction: column;
    }
    .advantages_item-box {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .advantages_item-box-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .request_subtitle {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 25px;
    }
    .request_title {
        margin-bottom: 25px;
    }
    .request form .line {
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .request form .line > * {
        margin-bottom: 10px;
    }
    .footer-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-contact {
        text-align: center;
        margin-top: 20px;
    }

    .request_image {
        display: none;
    }
    .request form {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .header-contact a span {
        display: block;
    }
    footer .header-contact .phone img, 
    footer .header-contact .email img {
        margin-right: 7px;
    }
    footer .header-contact .email {
        margin-bottom: 10px;
    }
    footer .header-contact {
        flex-direction: column;
    }
    .services_items {
        margin-bottom: -30px;
    }
    .services_items > * {
        margin-bottom: 30px;
    }


}


@media print, (max-width: 630px) {
    .steps_items {
        margin-left: 0;
        margin-bottom: -20px;
    }
    .steps_items > * {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}