@media print, (max-width: 1023px) {

    :root {
        --font_size_title: 36px;
        --font_size: 16px;
    }
    .block {
        padding: 50px 0;
    }

    .header-top {
        flex-wrap: wrap;
    }
    .header-contact {
        width: 100%;
        order: 1;
        margin-top: 17px;
    }
    footer .header-contact {
        width: auto;
        order: 1;
        margin-top: 0px;
    }
    .header_logo span {
        padding-left: 13px;
    }
    .header_logo img {
        padding-right: 17px;
    }
    .header-top {
        margin-bottom: 70px;
    }
    .header-info_title {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .header-info_text {
        font-size: 20px;
    }
    header {
        padding: 30px 0 60px;
    }
    .title {
        margin-bottom: 60px;
    }
    .services_items > * {
        width: calc(100%/3 - 30px);
    }
    .services_item-title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 14px;
    }
    .steps_items > * {
        width: calc(100%/2 - 30px);
    }
    .advantages_item-box-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .request {
        padding-bottom: 0;
    }
    .request_image img {
        width: 300px;
        height: auto;
    }
    .request_image {
        margin-right: 0;
    }
    .request .cont {
        align-items: flex-end;
    }

    .contacts_items {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contacts_item {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .contacts_item-text {
        margin-top: 0;
        margin-left: 10px;
    }
    .contacts_subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .contacts_item-text:nth-child(2) {
        white-space: inherit;
    }
  
  






}