/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}




/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    /* outline: 0; */
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #01062C;
    --font_size: 17px;
    --font_size_title: 42px;
    --font_family: 'Montserrat';
}


::selection
{
    color: #fff;
    background: #9ebf41;
}

::-moz-selection
{
    color: #fff;

    background: #9ebf41;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #2B83FF;
}

html.custom_scroll
{
    scrollbar-color: #2B83FF #ccc;
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.supports_error
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop {
    background: rgba(0,0,0,.6);
}
.fancybox__slide {
    padding: 40px;
}
.modal.fancybox__content > .carousel__button.is-close {
    color: #000;
    top: 14px;
    right: 14px;
    display: flex;
    width: 34px;
    height: 34px;
    transition: .2s linear !important;
    opacity: 1 !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.modal.fancybox__content > .carousel__button.is-close svg {
    display: block;
    width: 20px;
    height: 20px;
    filter: none;
    stroke: #000;
    stroke-width: 0;
}
.modal.fancybox__content > .carousel__button.is-close:hover {
    color: #000;
}






/* HEADER */

header {
    padding: 46px 0 153px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/header_bg.jpg);
}
.header-top {
    margin-bottom: 106px;
    display: flex;
    align-items: center;    
}
.header_logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header_logo img {
    padding-right: 23px;
    display: block;
}
.header_logo span {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 22px;
    color: #FFFFFF;
    display: block;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.29);
}
.header-contact {
    display: flex;
    align-items: center;
}
.header-contact .phone,
.header-contact .email {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-right: 23px;
    display: flex;
    align-items: center;
}
.header-contact .phone img,
.header-contact .email img {
    margin-right: 15px;
}
.header_language {
    display: flex;
}
.header_language a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.27);
}
.header_language a.active {
    background: #2B83FF;
}

.header-info {
    max-width: 770px;
    width: 100%;
}
.header-info_title {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 138.8%;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.header-info_text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 170.8%;
    color: #FFFFFF;
    margin-bottom: 47px;
    max-width: 620px;
    width: 100%;
}
.header-info .callback_btn {
    background: #2B83FF;
    text-decoration: none;
    width: 309px;
    height: 76px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 28px 24px 28px 31px;
    border-radius: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}





.block {
    padding-top: 89px;
    padding-bottom: 100px;
}
.bg2 {
    background: #F4F4F4;
}
.title {
    font-weight: 700;
    font-size: var(--font_size_title);
    line-height: 72px;
    text-align: center;
    color: var(--text_color);
    position: relative;
    margin-bottom: 106px;
}
.title::before {
    position: absolute;
    content: "";
    width: 73px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -19px;
    background: #2B83FF;
}
.services_items {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-bottom: -67px;
    flex-wrap: wrap;
}
.services_items > * {
    margin-left: 30px;
    margin-bottom: 67px;
    width: calc(100%/4 - 30px);
}
.services_item-icon {
   width: 176px;
   height: 176px; 
   margin: 0 auto;
}
.services_item-icon img {
    display: block;
    width: 100%;
    height: 100%;
}
.services_item-title {
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 137.9%;
    text-align: center;
    color: var(--text_color);
    margin-top: 35px;
}





.steps_title {
    margin-bottom: 95px;
}
.steps_items {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: -30px;
    margin-bottom: -30px;
    flex-wrap: wrap;
    counter-reset: step;  
}
.steps_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}
.steps_item {
    background: #FFFFFF;
    border-radius: 20px;  
    padding: 23px 20px 25px 38px;
    position: relative;     
}
.steps_item:before {
    font-family: var(--font_family);
    font-weight: 600;
    font-size: 50px;
    line-height: 147.8%;
    text-align: right;
    color: #E7E7E7;
    position: absolute;
    top: 8px;
    right: 17px;
    content: "0" counter(step);
    counter-increment: step;
    text-align: center;
    border-radius: 50%;
}
.steps_item-icon {
    margin-bottom: 10px;
}
.steps_item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162.8%;
    color: var(--text_color);
}
.steps_item-text span {
    font-weight: 700;
}






.advantages {
    padding-bottom: 48px;
}
.advantages_title {
    margin-bottom: 58px;
}
.advantages_items {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.advantages_item-img {
    position: relative;
    margin-top: 7px;
}
.advantages_item-img2 {
    position: absolute;
    top: 38px;
    right: 324px;
}
.advantages_item-img4 {
    position: absolute;
    bottom: 50px;
    right: 324px;
}
.advantages_item-img5 {
    position: absolute;
    top: 37px;
    left: 323px;
}
.advantages_item-img7 {
    position: absolute;
    bottom: 50px;
    left: 323px;
}
.advantages_item-box {
    max-width: 360px;
    margin-bottom: 42px;
}
.advantages_item-box-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;    
    color: var(--text_color);
    margin-bottom: 37px;
}
.advantages_item-box-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 173.29%;
    color: var(--text_color);
}
.advantages_slider {
    display: none;
}
.item-box1 {
    margin-bottom: 57px;
}
.item-box5 {
    margin-bottom: 63px;
}



.contacts_title {
    margin-bottom: 64px;
}
.contacts_subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 147.8%;
    text-align: center;
    color: var(--text_color);
    margin-bottom: 47px;
}
.contacts_items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contacts_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.contacts_item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color);
    flex-shrink: 0;
}
.contacts_item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text_color);
    margin-top: 18px;
    white-space: nowrap;
}
.contacts_item:nth-child(1) .contacts_item-text {
    font-weight: 600;
}


.map_wrap {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 404px;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(0);
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.request {
    padding-bottom: 0;
}
.request_title {
    margin-bottom: 46px;
}
.request .cont {
    display: flex;
    position: relative;
    z-index: 1;
}
.request_subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;    
    color: var(--text_color);
    margin-bottom: 27px;
}
.request form {
    max-width: 483px;
    margin-right: auto;
    margin-bottom: 40px;
}
.request form .field {
    width: 100%;
}
.request form .field input {
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    padding: 0 29px;
    height: 56px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147.8%;
    color: #878787;
    margin-bottom: 15px;
}
.request form .line textarea {
    background: #F4F4F4;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    width: 100%;
    height: 105px; 
    padding: 25px 29px; 
    resize: none; 
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 15px;
    line-height: 147.8%;
    color: #878787;
}
.request form .field input::-webkit-input-placeholder,
.request form .field input::-moz-placeholder,
.request form .field input:-moz-placeholder,
.request form .field input:-ms-input-placeholder,
.request form textarea::-webkit-input-placeholder,
.request form textarea::-moz-placeholder,
.request form textarea:-moz-placeholder,
.request form textarea:-ms-input-placeholder {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 18px;
    line-height: 147.8%;
    color: #B5B5B5; 
}
.request form .callback_btn {
    width: 309px;
    height: 76px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 31px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 76px;
    background: #2B83FF;
    border-radius: 900px;
    color: #fff;
    margin: 30px auto 0;
}
.request form .line:last-child {
    margin-bottom: 0;
}
.request_image img {
    display: block;
} 
.request_image {
    z-index: 2;
}
.request_text {
    position: absolute;
    font-weight: 700;
    font-size: 200px;
    line-height: 84.8%;
    color: #F4F4F4;
    top: 34px;
    right: -190px;
    z-index: 0;
}




footer {
    background: var(--text_color);
    padding: 34px 0;
}
footer .header-top {
    margin-bottom: 0;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo {
    display: flex;
    align-items: center;
}
.footer_logo {
    display: flex;
    align-items: center;
}
.footer_logo img {
    padding-right: 23px;
    display: block;
}
.footer_logo span {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 22px;
    color: #FFFFFF;
    display: block;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.29);
}
.footer-contact {
    text-align: right;
}
.footer-contact .phone a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.footer-contact .email a {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF; 
}





@media print, (max-width: 1635px) {
    .request_text {
        font-size: 150px;
        right: 0px;
    }
}